<h1>Todo Items</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th></th>
    </tr>
    <% @tasks.each do |task| %>
    <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= link_to "show", task_path(task) %></td>
    </tr>
    <% end %>
</table>

