<h1>Todo Item</h1>

<h2>Title</h2>
<p><%= @task.title %></p>

<h2>Content</h2>
<p><%= @task.content %></p>

<div>
    <%= link_to "delete", task_path(@task), data:{
            turbo_method: "delete", turbo_confirm: "Are you sure?"
        } %>
</div>

<div>
    <%= link_to "Back", tasks_path %>
</div>