// ====================
//  読み込み
// ====================

// Bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";

// GoogleFonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;500;700&display=swap');

// FontAwesome
@import 'font-awesome';


// ====================
//  変数
// ====================

:root {
  --font-color: #333333;
  --font-en: "Lato";
  --danger-color: #DC3545;
  --back-color: #878E94;
  --edit-color: #65ACE4;
  --info-color: #27253B;
  --done-color: #23a338;
}

// ====================
//  共通
// ====================

body {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: var(--font-color);
  transition: opacity .3s;

  &:hover {
    color: var(--font-color);
    opacity: .7;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
    color: inherit;
  }
}

button {
  border: none;
  background: none;
  display: inline-block;
}

form.button_to {
  display: inline-block;
}

.navbar-nav > li > a:hover {
  background: none;
  color: inherit;
  opacity: 0.7;
}

// ====================
//  header
// ====================

header {
  color: var(--font-color);
  box-shadow: 0px 6px 8px -5px #777777;
  margin-bottom: 60px;
}

.navbar {
  padding: 8px 0;
}

.logo {
  float: left;
  padding-top: 9px;
  font-size: 28px;
  color: var(--font-color);
  font-family: var(--font-en), sans-serif;
  font-weight: 700;
}

// ====================
//  Tasksテーブル
// ====================

.tasks-table {
  // max-width: 800px;
  margin: 0 auto;
}

.table>tbody>tr>th {
  border-top: none;
}

.tasks-table__row {
  border-bottom: 1px solid #9f9f9f;

  &.done {
    background: #efefef;
  }
}



.tasks-table__title {
  font-size: 18px;
}

.tasks-table__data {
  font-size: 16px;
}

.task-table__links {
  text-align: right;
}

.task-title-link {
  display: block;
}

.task-link {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  i {
    font-size: 24px;
  }
}

// ====================
//  Task詳細画面
// ====================

.task-detail {

  .task-detail__header {
    margin-bottom: 40px;

    .task-detail__desc {
      font-size: 28px;
    }
  }

  .task-detail__title {
    font-size: 20px;
    font-weight: 700;
  }

  .task-detail__desc {
    font-size: 18px;
  }
}


.task-link {
  display: inline-block;
  font-size: 18px;
  padding: 4px 10px;
  transition: all .3s;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &--border {
    border: 1px solid;
    border-radius: 4px;
  }

  &--back {
    border-color: var(--back-color);

    &:hover {
      color: #fff;
      background-color: var(--back-color);
    }
  }

  &--info {
    border-color: var(--info-color);
    color: var(--info-color);

    &:hover {
      color: #fff;
      background-color: var(--info-color);
    }
  }

  &--edit {
    border-color: var(--edit-color);
    color: var(--edit-color);

    &:hover {
      color: #fff;
      background-color: var(--edit-color);
    }
  }

  &--delete {
    border-color: var(--danger-color);
    color: var(--danger-color);

    &:hover {
      color: #fff;
      background-color: var(--danger-color);
    }
  }

  &--new {
    border: 1px solid #000;
    border-radius: 0;

    &:hover {
      color: #fff;
      background-color: #000;
    }
  }

  &--done {
    border-color: var(--done-color);
    color: var(--done-color);

    &:hover {
      color: #fff;
      background-color: var(--done-color);
    }
  }


}


// ====================
//  Task作成画面
// ====================

.form {
  max-width: 700px;
  margin: 0 auto;
}

.form__item {
  width: 100%;
  text-align: center;

  &:not(:last-child) {
    margin: 0 0 30px;
  }
}

.form__label {
  display: block;
  font-size: 20px;
}

.form__input {
  width: 100%;
  border: 1px solid #bbb;
  padding: 4px 4px;
  border-radius: 4px;
}

.form__textarea {
  width: 100%;
  border: 1px solid #bbb;
  padding: 4px 4px;
  height: 150px;
  resize: none;
  border-radius: 4px;
}

.form__submit {
  display: inline-block;
  font-size: 18px;
  border: 1px solid rgb(12, 89, 212);
  border-radius: 4px;
  padding: 4px 10px;
  background: transparent;
  transition: all .3s;

  &:hover {
    opacity: 0.7;
    background: rgb(12, 89, 212);
    color: #fff;
  }
}

// ====================
//  エラーメッセージ
// ====================

.error-list {
  color: var(--danger-color);
}

// ====================
//  ページネーション
// ====================

.pagination {
  display: flex;
  justify-content: center;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;    
  color: #696969;
}

.pagination>.active>a {     
  background: #000; 
  color: #fff;
  border-radius: 50%; 
  line-height: 32px;
  display: inline-block;
  text-align: center;
  width: 32px;  
  padding: 0;
  margin: 0 5px;
  pointer-events: none;
}

.pagination>li>a:hover {        
  border-radius: 15px; 
}

.pagination > li:first-child > a, .pagination > li:last-child > a {
  border-radius: 50%;
}
